{% extends "quotes/base.html" %}
{% block title %}About{% endblock %}

{% block content %}
  <div class="card">
    <h2>About Jimmy Page</h2>

    <p>
      Jimmy Page is an English guitarist, songwriter, and producer, best known as the founder and
      guitarist of Led Zeppelin. He is widely recognized for his influential guitar riffs, creative
      production style, and iconic live performances.
    </p>

    <p>
      This web app randomly displays quotes and portraits related to Jimmy Page.
    </p>

    <hr>

    <p class="creator">
      Created by <strong>Berk Komurcuoglu</strong> for CS412.
    </p>
  </div>
{% endblock %}